.App {
  margin: 10px;
}

.card{
  margin: 5px;
  width:20rem;
}

.form{
  text-align: center;
}

.jumbotron {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
 .card {
  flex-wrap: wrap;
  background-color: rgb(236,238,239);
 }

.wrapper {
  width: 75rem;
}
